<app-navigation-bar [show]="true"></app-navigation-bar>

<!-- Padding under navbar -->
<div class="page-content-spacing"></div>

<!-- Section header -->
<app-section-header [sectionTitle]="'Technology'"
                    [iconUrl]="iconUrl"
                    [backgroundColor]="backgroundColor"
></app-section-header>

<div class="page-boundaries">

    <!-- Top technology posts (if page 1) -->
    <app-posts-list *ngIf="isShowingTopPosts" [listType]="0" [posts]="this.topPosts"></app-posts-list>

    <!-- Technology row lists -->
    <app-posts-list [listType]="3" [posts]="this.rowPosts"></app-posts-list>

    <p>Displaying page index: {{ this.pageNumber }}</p>
</div>

<!-- Footer -->
<app-footer></app-footer>


