<app-navigation-bar [show]="true"></app-navigation-bar>

<!-- Padding under navbar -->
<div class="page-content-spacing"></div>

<!-- Section header -->
<app-section-header [sectionTitle]="'Technology'"
                    [iconUrl]="iconUrl"
                    [backgroundColor]="backgroundColor"
></app-section-header>

<div class="page-boundaries">
    <!-- Featured technology post -->
    <app-post-card *ngIf="isShowingFeaturedPost" [post]="featuredPost" [isFeaturedPost]="true"></app-post-card>
    <p>Displaying page index: {{ this.pageNumber }}</p>

    <!-- Technology post list -->
    <app-posts-list></app-posts-list>

    <!-- Technology podcast list -->
    <app-posts-list></app-posts-list>

    <p>technology works!</p>
    <p>technology works!</p>
    <p>technology works!</p>
    <p>technology works!</p>
</div>


