<app-navigation-bar [show]="true"></app-navigation-bar>

<!-- Padding under navbar -->
<div class="page-content-spacing"></div>

<!-- Section header -->
<app-section-header [sectionTitle]="'Podcasts'"
                    [iconUrl]="iconUrl"
                    [backgroundColor]="backgroundColor"
></app-section-header>

<div class="page-boundaries">

    <!-- Top podcast posts (if page 1) -->
    <app-posts-list *ngIf="isShowingTopPosts" [listType]="0" [posts]="this.topPodcasts"></app-posts-list>

    <!-- Podcasts row lists -->
    <app-posts-list *ngIf="this.rowPosts.length > 0" [listType]="3" [posts]="this.rowPosts"></app-posts-list>
</div>

<!-- Page number component -->
<app-page-number [pageNumber]="this.pageNumber" [totalNumberOfPages]="this.totalNumberOfPages"></app-page-number>

<!-- Footer -->
<app-footer></app-footer>




