<app-navigation-bar [show]="true"></app-navigation-bar>

<!-- Padding under navbar -->
<div class="page-content-spacing"></div>

<!-- Section header -->
<app-section-header [sectionTitle]="'Podcasts'"
                    [iconUrl]="iconUrl"
                    [backgroundColor]="backgroundColor"
></app-section-header>

<div class="page-boundaries">

    <!-- Top podcast posts (if page 1) -->
    <app-posts-list *ngIf="isShowingTopPosts" [listType]="0" [posts]="this.topPodcasts"></app-posts-list>

    <p>Displaying page index: {{ this.pageNumber }}</p>
</div>




