.container {
  display: inline-block;
  cursor: pointer;
  align-content: center;
  align-items: center;
  text-align: center;
}

.bar1, .bar2, .bar3 {
  margin-left: auto;
  width: 35px;
  height: 5px;
  background-color:white;
  margin-bottom: 6px;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}