<div>

  <!-- Primary slide -->
  <div class="primary-slide">
    <!-- Topic -->
    <p class="card-topic">
      {{ this.primaryPost.topic }}
    </p>
    <!-- Secondary post -->
    <div class="slide">
      <a href="{{ this.primaryPost.content }}">
        <img class="slide-image" src="{{ this.primaryPost.featuredArtURL }}">
        <div class="slide-description">
          <div class="slide-title">{{ this.primaryPost.title }}</div>
          <div class="slide-teaser">{{ this.primaryPost.teaser }}</div>
        </div>
        <div class="slide-overlay">
          <div class="listen-cta">Listen</div>
        </div>
      </a>
    </div>
  </div>

  <!-- Seconday slides -->
  <div class="secondary-slide">
    <!-- Topic -->
    <p class="card-topic">
      {{ this.secondaryPost.topic }}
    </p>
    <!-- Secondary post -->
    <div class="slide">
      <a href="{{ this.secondaryPost.content }}">
        <img class="slide-image-smaller" src="{{ this.secondaryPost.featuredArtURL }}">
        <div class="slide-description">
          <div class="slide-title-smaller">{{ this.secondaryPost.title }}</div>
        </div>
        <div class="slide-overlay">
          <div class="listen-cta">Listen</div>
        </div>
      </a>
    </div>
  </div>
</div>
