.section-title {
    font-family: 'Cairo', sans-serif;
    font-weight: 900;
    font-size: 6vw;
    color: black;
}

.section-title-padding {
    width: 10%;
}

.section-icon {
    max-width: 15%;
    min-width: 100px;
    min-height: 100px;
}

.image-inline {
    display: flex;
    align-items: center;
}