<div class="card" [style.width.%]="getCardWidthInPercentage()" [style.height.px]="getCardHeightInPixels()">
  <ng-container *ngFor="let topic of post.topics">
    <p class="card-topic">
      {{ topic | uppercase }}
    </p>
  </ng-container>

  <!-- Featured image -->
  <a href="{{ this.getPostLink() }}">
    <img [src]="post.featuredArtURL" [alt]="post.featuredArtAlt" class="card-image">
  </a>

  <!-- Card title -->
  <h2 class="card-title-h2">
    <a href="{{ this.getPostLink() }}" class="card-title">{{ post.title }}</a>
  </h2>


  <!-- Card teaser -->
  <p class="card-teaser-p">
    <a href="{{ this.getPostLink() }}" class="card-teaser">{{ post.teaser }}</a>
  </p>

  <!-- Byline -->
  <p align="right" class="card-byline-section">By
    <ng-container *ngFor="let author of post.authors">
      <a class="card-byline" href="{{ author.profilePageUrl }}">{{ author.name }}</a>
    </ng-container>
  </p>
</div>
