.feature-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-top: 6px solid #000971;
}

.feature-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card-image {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.card-title {
    padding-top: 5%;
    padding-left: 10%;
}

.card-teaser {
    padding-bottom: 10%;
    padding-left: 10%;
}