<div id="banner">
    <div class="banner">
        <div class="dbl-background">
            <img src="assets/logo/main_logo.png" class="banner-image">
        <div>
    </div>

    <div>
        <p class="banner-subhead"><em>Your world, broken into understandable bits.</em></p>
        <hr class="banner-hr">
    </div>

    <div class="container">
        <div class="navigation-item" *ngFor="let item of getMenuItems()">
            <a class="menu-item" routerLink="{{ item.routerLink }}">{{ item.title }}</a>
        </div>
    </div>
    <br>
</div>
