<div id="banner">
    <div class="banner">
        <div class="hamburger-menu" *ngIf="shouldShowHamburgerMenu()">
            <app-hamburger-menu-icon></app-hamburger-menu-icon>
        </div>
        <div class="dbl-background">
            <img src="assets/logo/main_logo.png" class="banner-image">
        <div>
    </div>
    <br>
    <div>
        <p class="banner-subhead"><em>Your world, broken into understandable bits.</em></p>
        <hr class="banner-hr">
    </div>

    <div class="container banner-spacing" *ngIf="!shouldShowHamburgerMenu()">
        <div class="logo-div-placeholder">
        </div>

        <!-- Show the menu items -->
        <ng-container *ngIf="!shouldShowHamburgerMenu()">
            <div class="navigation-item" *ngFor="let item of getMenuItems()">
                <a [ngClass]="{
                        'menu-item': !item.inactive, 
                        'selected-nav-item': item.inactive
                    }" [ngStyle]="{'color': item.inactive ? item.selectedColor : ''}"
                    routerLink="{{ item.routerLink }}">{{ item.title }}</a>
            </div>
            <app-social-media-links></app-social-media-links>
        </ng-container>
    </div>
</div>
