.banner {
    display:inline;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    min-width: 897px;
}

.banner-image {
    max-width: 25%;
    min-width: 200px;
}

.banner-subhead {
    color: gray;
    font-family: 'Cairo', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.banner-hr {
    display: block;
    width:100%;
    border-width: 4px;
}

.banner-spacing {
  height: 115px;
  min-width: 100%;
}

.logo-div-placeholder{
  width: 25%;
  height: 100px;
  max-width: 25%;
  max-height: 100px;
}
