.banner {
    display:inline;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    min-width: 897px;
  }

.hamburger-menu {
  display:inline;
  position: absolute;
  padding-top: 5%;
  padding-left: 80%;
}

.banner-image {
    max-width: 25%;
    min-width: 200px;
}

.banner-subhead {
    color: #3399ff;
    font-family: 'Cairo', sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
}

.banner-hr {
    display: block;
    width:100%;
    border-width: 1px;
    border-color: gray;
}

.banner-spacing {
  height: 100px;
  min-width: 100%;
}

.logo-div-placeholder{
  width: 25%;
  height: 100px;
  max-width: 25%;
  max-height: 100px;
}
