.ic-list {
  display: inline;
}

.ic-post-mobile {
  float: left;
  margin-right: 1%;
}

.ic-feature {
  float: left;
  margin-right: 1%;
  width: 33%;
}

.ic-column {
  float: left;
  margin-right: 1%;
  width: 20%;
}

.ic-horiz {
  float: left;
  width: 44%;
}
