<app-navigation-bar [show]="true" [sectionTitle]="'podcasts'"></app-navigation-bar>

<!-- Padding under navbar -->
<div class="page-content-spacing"></div>

<!-- Section header -->
<app-section-header [sectionTitle]="'Podcasts'" 
                    [iconUrl]="iconUrl"
                    [backgroundColor]="backgroundColor"
></app-section-header>

<!-- Featured podcast post -->
<app-featured-podcast></app-featured-podcast>

<!-- List podcast posts -->
<p>Displaying page index: {{this.pageNumber}}</p>
<app-podcasts-list  [podcastSetNumber]="pageNumber"
                    [isFeaturedPostShown]="isShowingFeaturedPost"
></app-podcasts-list>


