<app-navigation-bar [show]="true" [sectionTitle]="'podcasts'"></app-navigation-bar>
<div class="page-content-spacing">
    <p>podcasts works111!</p>
    <p>podcasts works!</p>
    <p>podcasts works!</p>
    <p>podcasts works!</p>
    <p>podcasts works!</p>
    <p>podcasts works!</p>
    <p>podcasts works!</p>
    <p>podcasts works!</p>
    <p>podcasts works!</p>
    <p>podcasts works!</p>
    <p>podcasts works!</p>
    <p>podcasts works!</p>
    <p>podcasts works!</p>
    <p>podcasts works!</p>
    <p>podcasts works!</p>
    <p>podcasts works!</p>
    <p>podcasts works!</p>
    <p>podcasts works!</p>
    <p>podcasts works!</p>
    <p>podcasts works!</p>
</div>


