<app-navigation-bar [show]="true" [sectionTitle]="'podcasts'"></app-navigation-bar>

<!-- Padding under navbar -->
<div class="page-content-spacing"></div>

<!-- Section header -->
<app-section-header [sectionTitle]="'Podcasts'" 
                    [iconUrl]="iconUrl"
                    [backgroundColor]="backgroundColor"
></app-section-header>

<p>Displaying page index: {{this.pageNumber}}</p>

<!-- Featured podcast post -->
<app-featured-podcast *ngIf="isShowingFeaturedPost"
                      [featuredPodcast]="featuredPodcast"
></app-featured-podcast>

<!-- List podcast posts -->
<app-podcasts-list [podcasts]="podcasts" ></app-podcasts-list>


