.image {
    width: 40%;
}

.image-inline {
    display: flex;
}

.image-block {
    display: block;
}

.text {
    display: block;
}

.bio {
    font-family: 'Cairo', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: black;
    vertical-align: top;
    margin-right: 10%;
}

.bioShort {
    font-family: 'Cairo', sans-serif;
    font-weight: 600;
    font-size: 23px;
    color: #ff6666;
    vertical-align: top;
}

.position {
    font-family: 'Cairo', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: gray;
}

.name {
    font-family: 'Cairo', sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: black;
}

.padding {
    width: 10%;
}
