<div [ngClass]="getImageInlineClass()">
    <img src="{{ imageUrl }}" class="image" [style.width.%]="getImageWidth()">
    <p class="name" *ngIf="showAltTitle()">{{ profile.name }}</p>
    <p class="position" *ngIf="showAltTitle()">{{ profile.position }}</p>
    <div class="padding"></div>
    <div class="text">
        <p class="bioShort"><em>{{ profile.bioShort }}</em></p>
        <p class="bio">{{ profile.bio }}</p>
    </div>
</div>
<p class="name" *ngIf="!showAltTitle()">{{ profile.name }}</p>
<p class="position" *ngIf="!showAltTitle()">{{ profile.position }}</p>
<br>
<br>
