<app-navigation-bar [show]="true" [sectionTitle]="'about'"></app-navigation-bar>

<!-- Padding under navbar -->
<div class="page-content-spacing"></div>

<!-- Section header -->
<app-section-header [sectionTitle]="'About us'" 
                    [iconUrl]="iconUrl"
                    [backgroundColor]="backgroundColor"
></app-section-header>

<p>about works!</p>
<p>about works!</p>
<p>about works!</p>
<p>about works!</p>
<p>about works!</p>
<p>about works!</p>
<p>about works!</p>
<p>about works!</p>
<p>about works!</p>
<p>about works!</p>
<p>about works!</p>
<p>about works!</p>
<p>about works!</p>
<p>about works!</p>
<p>about works!</p>
<p>about works!</p>
<p>about works!</p>
<p>about works!</p>
<p>about works!</p>
<p>about works!</p>
<p>about works!</p>
<p>about works!</p>
<p>about works!</p>
<p>about works!</p>
<p>about works!</p>
<p>about works!</p>
<p>about works!</p>
<p>about works!</p>
<p>about works!</p>
<p>about works!</p>
<p>about works!</p>
<p>about works!</p>
<p>about works!</p>
<p>about works!</p>
<p>about works!</p>
<p>about works!</p>
<p>about works!</p>
<p>about works!</p>
<p>about works!</p>
<p>about works!</p>
<p>about works!</p>
<p>about works!</p>