<app-navigation-bar [show]="true" [sectionTitle]="'about'"></app-navigation-bar>

<!-- Padding under navbar -->
<div class="page-content-spacing"></div>

<!-- Section header -->
<app-section-header [sectionTitle]="'About us'" 
                    [iconUrl]="iconUrl"
                    [backgroundColor]="backgroundColor"
></app-section-header>

<!-- About Debugged Labs -->

<!-- About the team -->

<p class="vert-padding large-cairo">I like trains</p>

<!-- Keshav -->
<app-about-post></app-about-post>
<!-- Shawn -->
<app-about-post></app-about-post>

