<app-navigation-bar [show]="true" [sectionTitle]="'about'"></app-navigation-bar>

<!-- Padding under navbar -->
<div class="page-content-spacing"></div>

<!-- In case we have a hamburger menu-->
<app-hamburger-menu-items [sectionTitle]="'about'"></app-hamburger-menu-items>

<!-- Section header -->
<app-section-header [sectionTitle]="'About us'" 
                    [iconUrl]="iconUrl"
                    [backgroundColor]="backgroundColor"
></app-section-header>

<p class="vert-padding large-cairo">Nobody gets <em class="technology-sentence">technology</em>.  And <em class="science-sentence">science</em> is hard.</p>
<br>
<p class="horiz-padding large-cairo-em"><b>That's why we're here.</b></p>
<br>
<br>

<!-- About Debugged Labs -->
<hr class="abouut-hr">
<p class="cairo-heading" align="center">WHO WE ARE</p>
<hr class="abouut-hr">

<p class="cairo-paragraph horiz-padding"><b>Debugged Labs</b> is a a <em class="science-sentence">podcast</em>-<em class="technology-sentence">blog</em> founded by two UCLA grads who resent 
    gobbledygook. Our mission is to break down what's happening in technology, science, and society into byte-sized 
    chunks that, <em class="about-sentence">well, make sense to the public.</em> The world is fast-changing and the people building tech and gadgets <b>aren't always
    thinking about what it means for the rest of us.</b>
</p>

<p class="cairo-paragraph horiz-padding">We're here to ask those tough questions, and have a bit of fun while we're at it.</p>

<br>
<br>

<!-- About the team -->
<hr class="abouut-hr">
<p class="cairo-heading" align="center">THE TEAM</p>
<hr class="abouut-hr">
<br>

<div class="horiz-padding" *ngFor="let profile of this.teamProfiles">
    <app-about-post [profile]="profile"></app-about-post>
</div>

