.horiz-padding {
  margin-left: 13%;
  margin-right: 13%;
}

.center-padding {
  margin-left: 34%;
  margin-right: 34%;
}

.center-padding-mobile {
  margin-left: 5%;
  margin-right: 5%
}

.author-hr {
    width:40%;
    border-width: 2px;
}

.cairo-heading {
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: gray;
}

.heading {
    background-color: #ff6666;
    width: 50%;
}
