
<div id="navbar" *ngIf="show" (scroll)="onWindowScroll($event);" [ngClass]="setClasses()" style="background-color: #000971;">
    <div class="navigation-logo-div">
        <a routerLink="/">
            <img src="assets/logo/main_logo.png" class="navigation-logo">
        </a>
    </div>
    <div class="navigation-item"><a class="menu-item" routerLink="/podcasts">Podcasts</a></div>
    <div class="navigation-item"><a class="menu-item" routerLink="/technology">Technology</a></div>
    <div class="navigation-item"><a class="menu-item" routerLink="/about">About</a></div>
</div>
