.selected-nav-item {
  font-family: 'Cairo', sans-serif;
  font-weight: 700;
  font-size: 20px;
  pointer-events: none;
}

.navigation-logo {
  max-width: 25%;
  min-width: 250px;
}

.navigation-logo-div {
  max-width: 25%;
  max-height: 100px;
  min-width: 250px;
  left: 0;
}

.navigation-menu-div {
  max-height: 100px;
  min-width: 100%;
}

.iflex {
  display: inline-flex;
}

.sticky {
    background: #fff;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
    position: fixed;
    top: 0;
    height: 120px;
    width: 100%;
}

.hamburger-menu {
  flex: 1 0 100%;
  align-self: right;
  justify-content: right;
  align-content: right;
  flex-direction: row;
}