
<div id="navbar" *ngIf="show" (scroll)="onWindowScroll($event);" 
    [ngClass]="setClasses()" style="background-color: #000971;">

    <!-- Logo to front page -->
    <div [@fadeIn] class="navigation-logo-div">
        <a routerLink="/">
            <img src="assets/logo/main_logo.png" class="navigation-logo">
        </a>
    </div>

    <!-- Show the menu items -->
    <ng-container *ngIf="!isHamburgerMenu">
        <div class="navigation-item" *ngFor="let item of getMenuItems()">
            <a [ngClass]="{
                'menu-item': !item.inactive, 
                'selected-nav-item': item.inactive
            }" 
            [ngStyle]="{'color': item.inactive ? item.selectedColor : ''}"
            routerLink="{{ item.routerLink }}">{{ item.title }}</a>
        </div>
    </ng-container>
    <app-social-media-links *ngIf="!isHamburgerMenu"></app-social-media-links>

    <!-- Show hamburger menu if smaller window -->
    <div class="hamburger-menu" *ngIf="isHamburgerMenu">
        <app-hamburger-menu [menuItems]="getMenuItems()"></app-hamburger-menu>
    </div>
</div>
