/* You can add global styles to this file, and also import other style files */
.dbl-background {
  background-color: #000971
}

.container {
  display: flex;
  justify-content: left;
  text-align: left;
  align-items: center;
  left: 0;
}

.navigation-item {
  flex: 1;
}

/* -- menu item --  */

.menu-item {
  font-family: 'Cairo', sans-serif;
  font-weight: 700;
  font-size: 20px;
}

/* unvisited link */
.menu-item:link {
  color: #d9d9d9;
}

/* visited link */
.menu-item:visited {
  color: #d9d9d9;
}

/* mouse over link */
.menu-item:hover {
  color: #00ff00;
  text-decoration: none;
}

/* selected link */
.menu-item:active {
  color: #d9d9d9;
}


/* -- page boundaries --  */

.page-content-spacing {
  padding-top: 100px;
}

.float-right {
  padding: 20px;
  text-align: center;
}

.page-boundaries {
  margin: auto auto;
  margin-top: 30px;
  max-width: 1200px;
  width: calc(100% - (30px * 2));
}


/* -- subsection headers --  */

/* main */
.subsection-header {
    font-family: 'Cairo', sans-serif;
    font-weight: 900;
    font-size: 36px;
    padding-bottom: 100px;
    margin-bottom: 100px;
    margin-top: 100px;
}

/* unvisited link */
.subsection-header:link {
  color: black;
}

/* visited link */
.subsection-header:visited {
  color: black;
}

/* mouse over link */
.subsection-header:hover {
  color: gray;
  text-decoration: none;
}

/* selected link */
.subsection-header:active {
  color: black;
}


/* -- posts styles -- */
.top-posts {
  margin-top: 10px;
  margin-bottom: 40px;
}

.technology-posts {
  margin-top: 10px;
}

science-posts {
  margin-top: 10px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
