<app-navigation-bar [show]="false" [bannerElementId]="'banner'"></app-navigation-bar>
<app-banner></app-banner>

<div class="page-boundaries">

    <!-- Top posts -->
    <div class="top-posts">
      <div>
        <app-post-card [post]="this.featuredPost" [isFeaturedPost]="true"></app-post-card>
      </div>
      <div>
        <app-posts-list [posts]="this.nonfeaturedPosts" [numRows]="2" [numCols]="2"></app-posts-list>
      </div>
    </div>


    <!-- Podcasts subsection -->


    <!-- Technology subsection -->

    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>

    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
</div>

