<app-navigation-bar [show]="false" [bannerElementId]="'banner'"></app-navigation-bar>
<app-banner></app-banner>

<div class="page-boundaries">

    <!-- Top posts (ic list) -->
    <div>
      <app-posts-list [listType]="1" [posts]="this.topPosts"></app-posts-list>
    </div>

    <!-- Podcasts subsection (gallery list)
    <app-posts-list [listType]="2" [posts]="this.topPosts"></app-posts-list> -->

    <!-- Technology subsection (row-list)
    <app-posts-list [listType]="3" [posts]="this.topPosts"></app-posts-list> -->

    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>

    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
</div>

