<app-navigation-bar [show]="false" [bannerElementId]="'banner'"></app-navigation-bar>
<app-banner></app-banner>

<div class="page-boundaries">

    <!-- Show featured post -->
    <app-featured-post [featuredPost]="this.featuredPost"></app-featured-post>
    <p>frontpage works!</p>


    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
    <p>frontpage works!</p>
</div>

