<app-navigation-bar [show]="false" [bannerElementId]="'banner'"></app-navigation-bar>
<app-banner></app-banner>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>

<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p><p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>
<p>frontpage works!</p>

