/* You can add global styles to this file, and also import other style files */
.dbl-background {
    background-color: #000971
}

.container {
  display: flex;
  justify-content: left;
  align-items: center;
  left: 0;
}

.navigation-item {
  flex: 1;
}