/* You can add global styles to this file, and also import other style files */
.dbl-background {
    background-color: #000971
}

.container {
  display: flex;
  justify-content: left;
  align-items: center;
  left: 0;
}

.navigation-item {
  flex: 1;
}

.menu-item {
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

/* unvisited link */
.menu-item:link {
  color: #d9d9d9;
}

/* visited link */
.menu-item:visited {
  color: #d9d9d9;
}

/* mouse over link */
.menu-item:hover {
  color: #00ff00;
  text-decoration: none;
}

/* selected link */
.menu-item:active {
  color: #d9d9d9;
}

.page-content-spacing {
  padding-top: 100px;
}